Source: 0-toggle
Section: kde
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9), pkg-kde-tools, extra-cmake-modules, qtbase5-dev, qtdeclarative5-dev, libkf5plasma-dev, libkf5i18n-dev, cmake, libkf5kio-dev, libkf5archive-dev, libkf5coreaddons-dev, libpackagekitqt5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/ds9-extras/0-toggle

Package: plasma-widget-0-toggle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-msgpack
Description: zeronet controller plasmoid
 Plasma widget to control ZeroNet
